@page "/client/list"
@attribute [Authorize]
@rendermode InteractiveWebAssembly

<RadzenContent Container="main">
    <ChildContent>
        <div class="row">
            <div class="col-md-12">
               <SabatexRadzenGrid TItem="Sabatex.ObjectsExchange.Models.Client" TKey="Guid" DoubleClickRowEdit=false OnRowClick="Nodes" IsInserted="@IsAdmin" IsDeleted="@IsAdmin">
                   <Buttons Context="item">
                        <RadzenButton Text="Nodes" Click="()=>Nodes(item)" Disabled=@(item == null) />
                    </Buttons>
                    <Columns>
                        <RadzenDataGridColumn TItem="Sabatex.ObjectsExchange.Models.Client" Property="Description" Title="Description" />
                    </Columns>
                </SabatexRadzenGrid>
            </div>
        </div>
    </ChildContent>
</RadzenContent>

@code {
    bool IsAdmin = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        IsAdmin = await AuthenticationStateProvider.IsInRoreAsync(ApplicationClaim.AdministratorRole);
    }
    
    
    
    void Nodes(Sabatex.ObjectsExchange.Models.Client? client)
    {
        var query = new Dictionary<string, object?>();
        query.Add("ClientId", client.Id.ToString());
        var uri = NavigationManager.GetUriWithQueryParameters($"clientnode/list", query);
        NavigationManager.NavigateTo(uri);   
    }
}
