@page "/client/list"
@attribute [Authorize]
@inherits SabatexRadzenBlazorBasePage

<RadzenContent Container="main">
    <ChildContent>
        <div class="row">
            <div class="col-md-12">
               <SabatexRadzenGrid TItem="Models.Client" TKey="Guid" >
                   <Buttons Context="item">
                        <RadzenButton Text="Nodes" Click="()=>Nodes(item)" Disabled=@(item == null) />
                            @if (!IsAdmin)
                            {
                                <RadzenText Text="The limit 5 clients per user!"  />
                            }
                    </Buttons>
                    <Columns>
                        <RadzenDataGridColumn TItem="Models.Client" Property="Description" Title="Description"  />
                    </Columns>
                </SabatexRadzenGrid>
            </div>
        </div>
    </ChildContent>
</RadzenContent>

@code {
    bool IsAdmin = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        IsAdmin = await UserIsInRore(ApplicationRole.AdministratorRole);
    }
    void Nodes(Models.Client? client)
    {
        var query = new Dictionary<string, object?>();
        query.Add("ClientId", client.Id.ToString());
        var uri = NavigationManager.GetUriWithQueryParameters($"clientnode/list", query);
        NavigationManager.NavigateTo(uri);   
    }
}
