@page
@model ObjectsExchange.Pages.ClientNodes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ClientNode</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ClientNode.NormalizedName" class="form-control" hidden />
            <div class="form-group">
                <label asp-for="ClientNode.Name" class="control-label"></label>
                <input asp-for="ClientNode.Name" class="form-control" />
                <span asp-validation-for="ClientNode.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientNode.Password" class="control-label"></label>
                <input asp-for="ClientNode.Password" class="form-control" />
                <span asp-validation-for="ClientNode.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientNode.Description" class="control-label"></label>
                <input asp-for="ClientNode.Description" class="form-control" />
                <span asp-validation-for="ClientNode.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientNode.ClientAccess" class="control-label"></label>
                <input asp-for="ClientNode.ClientAccess" class="form-control" />
                <span asp-validation-for="ClientNode.ClientAccess" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ClientNode.IsDemo" /> @Html.DisplayNameFor(model => model.ClientNode.IsDemo)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="ClientNode.Counter" class="control-label"></label>
                <input asp-for="ClientNode.Counter" class="form-control" />
                <span asp-validation-for="ClientNode.Counter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientNode.MaxOperationPerMounth" class="control-label"></label>
                <input asp-for="ClientNode.MaxOperationPerMounth" class="form-control" />
                <span asp-validation-for="ClientNode.MaxOperationPerMounth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
