@page "/queries"
@attribute [Authorize(Roles ="Admin, User")]

@using WebApiDocumentsExchange.Models
@using WebApiDocumentsExchange.Data

@inherits sabatex.Blazor.UIConrols.BasePage<QueryObject,ExchangeDbContext>

<h3>Queries</h3>
<RadzenDataGrid Data="@DataGridItems"
                @ref="DataGrid"
                TItem="QueryObject"
                AllowFiltering="true"
                AllowColumnResize="true"
                AllowPaging="true"
                PageSize="10"
                AllowSorting="true"
                SelectionMode="DataGridSelectionMode.Single">
    <Columns>
        <RadzenDataGridColumn TItem="QueryObject" Property="Id" Title="Id" MinWidth="100px"/>
        <RadzenDataGridColumn TItem="QueryObject" Property="Sender.Name" Title="Sender" MinWidth="200px"/>
        <RadzenDataGridColumn TItem="QueryObject" Property="Destination.Name" Title="Destination" MinWidth="200px"/>
        <RadzenDataGridColumn TItem="QueryObject" Property="ObjectType.Name" Title="Object type" MinWidth="100px"/>
        <RadzenDataGridColumn TItem="QueryObject" Property="ObjectId" Title="Object Id" MinWidth="100px"/>
        <RadzenDataGridColumn TItem="QueryObject" Context="sampleBlazorModelsSampleOrder" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="100px">
            <Template Context="client">
                <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger"  Size="ButtonSize.Small" Class="m-1" Click="@(args => DeleteRow(client))"  @onclick:stopPropagation="true"/>
            </Template>
        </RadzenDataGridColumn>

    </Columns>
</RadzenDataGrid>


@code {
    
    protected override void OnInitialized()
    {
        DataGridItems = dbContext.QueryObjects;
    }

}
