.page {
/*    position: relative;
    display: flex;
    flex-direction: column;
*/

}

main {
    /*flex: 1;*/
    overflow-x:scroll;
}



.top-row {
/*    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
*/

}

.top-row ::deep a, .top-row .btn-link {
 /*       white-space: nowrap;
        margin-left: 1.5rem;
*/

}

/*    .top-row a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }


.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}
*/

@media (max-width: 640.98px) {
/*    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a, .top-row .btn-link {
        margin-left: 0;
    }*/
}


@media (min-width: 641px) {
/*    .row-menu{
        display:none;
    }
*/
    /*.sidebar {*/
/*        width: 280px;
        height: 100vh;
*/        /*position: sticky;
        top: 0;
    }

    .top-row {*/
 /*       position: sticky;
        top: 0;
        z-index: 1;
 */   /*}

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

      */
}

.row-menu {
    display:none;
}
.top-row {
    flex-direction: column;
    align-items:flex-start;
}

.column-menu {
    display:flex;
    flex-direction:column;
}
.collapse {
    display:none;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }
    .top-row {
        flex-direction: row;
    }
    .row-menu {
        display:flex;
    }
    .column-menu{
        display:none;
    }


    /*.collapse {*/
        /* Never collapse the sidebar for wide screens */
        /*display: flex;
    }*/
}
