@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Identity
@using System.Reflection
@inject IJSRuntime JSRuntime

<PageTitle>Web Api Document Exchange</PageTitle>

<div class="page">
    <header>

    <RadzenMenu>
        <RadzenLabel Text=@version class="d-flex align-items-center bg-info p-1" Style="border-radius:10px 0 0 10px" />
        <AuthorizeView Roles="User, Admin">
            <RadzenMenuItem Text="Objects" Path="/" />
            <RadzenMenuItem Text="Queries" Path="/queries" />
        </AuthorizeView>
        <AuthorizeView Roles="Admin">
            <RadzenMenuItem Text="Nodes" Path="Nodes"/>
            <RadzenMenuItem Text="Swagger" Path="/swagger/index.html" Target="_blank"/> 
        </AuthorizeView>
        
           
        <AuthorizeView class="d-flex align-content-end">
            <Authorized>
                <RadzenMenuItem  Text=@($"Hello, {context.User.Identity?.Name}!") Path="Identity/Account/Manage" Style="margin-left:auto"/>
                <RadzenMenuItem Text="Log out"  Style="margin-right:1rem" Path="Identity/Account/LogOut"/>
             </Authorized>
            <NotAuthorized>
                <RadzenMenuItem Text="Log in"  Path="Identity/Account/Login" Style="margin-left:auto;margin-right:1rem"/> 
            </NotAuthorized>
        </AuthorizeView>
        
    </RadzenMenu>

    </header>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<RadzenContextMenu />
<RadzenDialog />

@code{
    string version = "Version "+Assembly.GetExecutingAssembly().GetCustomAttribute<AssemblyInformationalVersionAttribute>().InformationalVersion;
}
