@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Identity
@inject IJSRuntime JSRuntime

<PageTitle>Web Api Document Exchange</PageTitle>

<div class="page">
    <header>

    <RadzenMenu>
        <RadzenMenuItem Text="Home" Path="/" />
        <RadzenMenuItem Text="Nodes" Path="Nodes"/>
        <RadzenMenuItem Text="Swagger" Path="/swagger/index.html" Target="_blank"/>    
        <AuthorizeView>
            <Authorized>
                <RadzenMenuItem  Text=@($"Hello, {context.User.Identity?.Name}!") Path="Identity/Account/Manage" Style="margin-left:auto"/>
                <RadzenMenuItem Text="Log out"  Style="margin-right:1rem" Path="Identity/Account/LogOut"/>
             </Authorized>
            <NotAuthorized>
                <RadzenMenuItem Text="Log in"  Path="Identity/Account/Login" Style="margin-left:auto;margin-right:1rem"/> 
            </NotAuthorized>
        </AuthorizeView>
        
    </RadzenMenu>

    </header>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<RadzenContextMenu />
<RadzenDialog />


