                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Nodes">
                        <span class="oi oi-plus" aria-hidden="true"></span> Nodes
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/swagger/index.html">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> swagger
                    </NavLink>
                </div>

